#cake {
    display: block;
    position: relative;
    margin: -10em auto 0 auto;
}

.candle {
    background: #ffffff;
    border-radius: 10px;
    position: absolute;
    top: 2280px;
    left: 50%;
    margin-left: -2.4px
    margin-top: -8.33333333px;
    width: 5px;
    height: 35px;
    transform: translateY(-300px);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-animation: in 500ms 6s ease-out forwards;
            animation: in 500ms 6s ease-out forwards;
}
.candle:after {
    top: 25%
    left: 0;
}

.candle:before {
    top: 45%;
    left: 0;
}

.fire {
    border-radius: 100%;
    position: absolute;
    top: -20px
    left: 50%;
    margin-left: -2.6px;
    width: 6.666666667px;
    height: 18px;
}
